<div class="navbar-fixed ">
    <nav class="nav-wrapper  deep-purple">
        <div class="container1"></div>
        <a href="#" class="brand-logo">BlockChain POC</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-links">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>

            <li><a href="/user/signin" class="btn white indigo-text">Sign in</a></li>
        </ul>
</div>
</nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>
    <li><a href="/user/signin" class="btn white indigo-text">Sign in</a></li>

</ul>



<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/images/blockchain.png" alt="" class="responsive-img">
    </div>
</div>

<section class="container section" id="photos">
    <div class="row">
        <div class="col s12 l4">
            <img src="/images/Decentralized.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="indigo-text text-darken-4">Decentralised</h2>
            <p>As one of the most interesting aspects of the blockchain, decentralisation is also its key advantage.
                Instead of being stored in any one single point, blockchain system is entirely decentralised, which
                means that it is not
                possible for an overarching authority to advance its own agenda and control the network.
                Decentralisation also
                translates into more security besides being a fair system of distribution.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4 offset-l1 push-l7">
            <img src="/images/security.png" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1 pull-l5 right-align">
            <h2 class="indigo-text text-darken-4">Security</h2>
            <p>Once every block is sealed cryptographically, it is impossible to copy, delete or edit, ensuring the
                immutability of the digital ledger. Because of the very nature of decentralisation of networks, there
                can never be central
                points of error or failure within the system. With an absence of weak points within the system for
                hacking, there can be
                zero chances of malicious, which boosts the network’s reliability. On top of this, every transaction
                needs the digital
                signature through both private and public keys which utilise different cryptographic schemes ensuring
                complete encryption.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col s12 l4">
            <img src="/images/Transparency.jpg" alt="" class="responsive-img materialboxed">
        </div>
        <div class="col s12 l6 offset-l1">
            <h2 class="indigo-text text-darken-4">Transparency</h2>
            <p>It is possible for users to verify and track transactions in the public, decentralised ledger. Any
                individual can view
                the entire record of transactions. Besides, the software, being open source, any alteration of data is
                incredibly
                difficult. With multiple eyes glued to the network, any alteration in the logged data is sure to be
                seen, which adds to
                the transparency and security of blockchain.</p>
        </div>
    </div>
</section>

<!-- parallax -->
<div class="parallax-container">
    <div class="parallax">
        <img src="/images/blockchain.png" alt="" class="responsive-img">
    </div>
</div>



<!-- footer -->

<footer class="page-footer grey darken-3" id="about">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>About Me</h5>
                <p>A <strong>blockchain</strong> is a chronologically updated and distributed digital record that comes
                    with
                    cryptographic protection. It
                    can be compared to a linear chain of blocks where every block stores information and is connected to
                    another block and
                    the entire network is shared among the participants.
                </p>

            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Linked In</a></li>
                    <li><a class="grey-text text-lighten-3" href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright grey darken-4">
        <div class="container center-align">&copy; Jai Bhajarangabali</div>
    </div>
</footer>