<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .centerOne {
            position: relative;
            left: 600px;
            top: 250px;
        }

        .centerTwo {
            position: relative;
            left: 550px;
            top: 150px;
        }

        .centerThree {
            position: relative;
            left: 550px;
            top: 0;
        }

        .centerFive {
            position: relative;
            left: 550px;
            top: 0;

        }

        .centerFour {
            position: relative;
            left: 590px;
            top: 0;
        }

        .cardss {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            width: 20%;
            margin-left: 1em;
            margin-top: 1em;
            float: left;
        }

        .cardss:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .txt {
            padding: 2em;
        }

        .cardHeader {
            height: 80px;
            background: #E4551F;
        }

        .colors {
            background: white;
        }
    </style>
</head>

<body class=' blue lighten-5'>



    <%- body %>

    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.datepicker').datepicker({

            });
            $('.parallax').parallax();
            $('select').formSelect();
        });
    </script>

</body>

</html>