<div class="navbar-fixed ">
    <nav class="nav-wrapper   deep-purple">
        <div class="container1">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/back/back">Back</a></li>
            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>
    <li><a href="/back/back">Back </a></li>

</ul>


<div class="container"></div>
<div class="centerwel1">
    <div class="cardwel  green">
        <div class="container">

            <center>
                <div class="card-content ">
                    <h5><b><%= typeof suc != 'undefined' ? suc : '' %></b></h5>
                </div>
            </center>


        </div>
    </div>
</div>

<div class="container">
    <div class="centerFour">
        <div class="row">
            <div class="col s12 m7">
                <div class='card  white'>
                    <div class="card-content indigo-text ">
                        <center><span class="card-title">
                                <h4>
                                    <center> <%= typeof part != 'undefined' ? part : '' %></center>
                                </h4>
                            </span></center>
                        <form action='/Parts/edit' method='post'>
                            <div class="red-text">
                                <center> <%= typeof msg != 'undefined' ? msg : '' %></center>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input type="text" id="index" name='index' required>
                                <label for="index">Block index</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input type="text" id="partnumber" name='partnumber' required>
                                <label for="partnumber">Part number</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input type="text" id="equpType" name='equpType' required>
                                <label for="equpType">Equip Type</label>
                            </div>


                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input id="Scale" type="tel" class="validate" name="Scale" required>
                                <label for="Scale">Saleable part</label>
                            </div>

                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input id="Qty1" type="number" class="validate" name="Qty1" required>
                                <label for="Qty1">Qty (2018)</label>
                            </div>
                            <div class="input-field">
                                <i class="material-icons prefix">center_focus_strong</i>
                                <input id="Qty2" type="number" class="validate" name="Qty2" required>
                                <label for="Qty2">Qty (2019)</label>
                            </div>

                            <div class="input-field center">
                                <button class="btn indigo darken-4">Submit</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>