<div class="navbar-fixed ">
    <nav class="nav-wrapper    deep-purple">
        <div class="container">
            <a href="#" class="brand-logo">BlockChain POC</a>
            <a href="#" class="sidenav-trigger" data-target="mobile-links">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>

            </ul>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-links">
    <li><a href="">Home</a></li>


</ul>



<div class="centerwel">
    <div class="cardwel   grey lighten-2">
        <div class="container">

            <center>
                <div class="card-content ">
                    <h5><b><%= typeof smrt != 'undefined' ? smrt : '' %></b></h5>
                </div>
            </center>


        </div>
    </div>
</div>